* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    font-size: 10px;
}

#alert-from-top {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #acfd69;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#close-alert {
    margin-right: 30px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#close-alert:hover {
    color: dimgrey;
    cursor: pointer;
}

button {
    background: #0010a6;
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 9pt;
}

button:hover {
    background: #0015da;
    cursor: pointer;
}

button:disabled {
    background: #484848;
    cursor: default;
}



@media (min-width: 768px) {
    * {
        font-size: 18px;
    }
    button {
        padding: 8px 16px;
        font-size: 14pt;
    }
}
