{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>innoCampus Freight Routes</title>

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <main>
        {% block main %}{% endblock main %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{% static 'base.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>