#map {
    width: 100vw;
    height: 100vh;
    background: rgb(216, 238, 255);
}

#actions {
    position: fixed;
    top: 10px;
    left: 10px;
}

button.cancel {
    background: red !important;
    color: white !important;
}

button.cancel:hover {
    background: #383838 !important;
}

.options-wrapper {
    display: flex;
    border: 1px solid dimgray;
}

.city-name-form {
    height: 30px;
    display: flex;
}

.city-name-input {
    height: 100%;
    width: 150px;
    border: none;
}

button.confirm-city-name {
    padding: 0 10px;
    height: 100%;
    border-radius: 0;
}

.link-dist-form {
    height: 30px;
    display: flex;
}

.link-dist-input {
    height: 100%;
    width: 50px;
    border: none;
}

button.confirm-link-dist {
    padding: 0 10px;
    height: 100%;
    border-radius: 0;
}

button.confirm-node-rename {
    padding: 0 10px;
    height: 100%;
    border-radius: 0;
}

button.node-delete {
    padding: 0 10px;
    height: 100%;
    border-radius: 0;
    background: darkred;
}

button.node-delete:hover {
    background: red;
}

.algorithm-select {
    height: 30px;
    width: 100px;
    border: none;
}

button.algorithm-start {
    height: 30px;
    padding: 0 10px;
    border-radius: 0;
    background: darkgreen;
}
button.algorithm-start:hover {
    background: green;
}
