{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'rail_network/map.css' %}">
{% endblock css %}

{% block main %}
    <div id="map"></div>
    <div id="actions">
        <button id="add-city">Add city</button>
        <button id="add-link" disabled>Add route</button>
        <button id="show-adjacency-matrix" onclick="get_adjacency_matrix()">Show adjacency matrix</button>
    </div>
{#    <canvas id="map-graph" width="800" height="600"></canvas>#}
{% endblock main %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.14.0/cytoscape.min.js"
            integrity="sha256-rI7zH7xDqO306nxvXUw9gqkeBpvvmddDdlXJjJM7rEM="
            crossorigin="anonymous">
    </script>
    {{ init_elements|json_script:"init-elements" }}
    <script type="text/javascript" src="{% static 'rail_network/map.js' %}"></script>
{% endblock js %}
