{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'rail_network/map.css' %}">
{% endblock css %}

{% block main %}
    <div id="map"></div>
    <button id="add-city" onclick="add_city_btn_click()">Add city</button>
{#    <canvas id="map-graph" width="800" height="600"></canvas>#}
{% endblock main %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.14.0/cytoscape.min.js"
            integrity="sha256-rI7zH7xDqO306nxvXUw9gqkeBpvvmddDdlXJjJM7rEM="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'rail_network/map.js' %}"></script>
{% endblock js %}
